body{
    background-color: #cdb4db;
}

#calcScreen{
    height: 50px;
    width: 45%;
    background-color: #a2d2ff;
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    display: flex;
    justify-content: right;
    align-items:end;
    margin-bottom: 5%;
}

#calcBody{
    height: 70vh;
    width: 45vw;
    background-color: #ffafcc;
    margin: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
}

#calcButtons{
    display: grid;
}

.calcButton{
    background-color: #a2d2ff;
    border-radius: 12%;
}

#equalButton{
    width: 200%;
}



/*
CDB4DB - PURPLE
FFC8DD - PEACH
FFAFCC - PINK
BDE0FE - LIGHTBLUE
A2D2FF - SKYBLUE
*/