body{
    background-color: #cdb4db;
}

#calcScreen{
    height: 50px;
    width: 250px;
    background-color: #a2d2ff;
    border-color: black;
    border-style: solid;
    border-radius: 5%;
}

#calcBody{
    height: 70vh;
    width: 45vw;
    background-color: #ffafcc;
    margin: 15%;
}

.calcButton{
    display: grid;
    background-color: #a2d2ff;
    border-radius: 50%;
}





/*
CDB4DB - PURPLE
FFC8DD - PEACH
FFAFCC - PINK
BDE0FE - LIGHTBLUE
A2D2FF - SKYBLUE
*/